* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 234, 243);
}

.container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius: 5px;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form #text {
    border: none;
    border-bottom: 2px solid rgb(160, 154, 154);
    width: 70%;
    padding-bottom: 10px;
    font-size: 18px;
    color: teal;
}

#text:focus-visible {
    outline: none;
}

.btn-search {
    background-color: rgb(211, 234, 243);
    border: 1px solid rgb(211, 234, 243);
    font-size: 22px;
    text-transform: capitalize;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    color: darkslateblue;
    font-weight: 500;
}

.dictionaryContent {
    margin-top: 35px;
}

.dictionaryContent.hidden {
    display: none;
}

.word {
    font-size: 20px;
    font-weight: 500;
}

.audioDef {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audioDef audio {
    display: none;
}

.audioDef .fa-volume-up {
    cursor: pointer;
}

.pronunciation {
    color: rgb(131, 125, 125);
    margin: 15px 0;
}

.meaning {
    color: rgb(138, 132, 132);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 30px;
    display: none;
    /* initially hidden */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    margin: 13px 0;
    color: rgb(240, 9, 9);
}